<% provide(:title, 'About Us') %>
<div class="page-header">
  <h1>About</h1>
</div>
<p>
  This was built as a demo project in Ruby on Rails.  The specs were:
</p>
<ul>
  <li>Shows the user a search box</li>
  <li>Performs a search for those terms in Twitter (use a gem, do not connect to the API directly)</li>
  <li>Get familiar with Rails best practices and use them! Must haves: MVC and DRY</li>
  <li>Is hosted in Heroku (www.heroku.com) and Github</li>
  <li>It looks fairly good without spending to much time on the look.</li>
  <li>Pagination</li>
  <li>Do the search using AJAX</li>
  <li>Tests (rspec and guard)</li>
  <li>Documentation (A README file (not the code itself), again short and concise. Good code doesn't be to be documented, it should be read as English, almost)</li>
  <li>Latest version of Rails</li>
  <li>Ruby 1.9.x (Try to use 1.9.x syntax whenever is possible)</li>
</ul>